# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dabazo

# Test
*.test
*.out
coverage.txt

# Dependency
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
*.log

# Environment
.env
.env.*

# Forjis
.forjis/
openspec/
tasks/